// ===========================
// Variables
// ===========================

$theme-color: #468847; // #164167; // blue
$accent-color: #E50B00; // #df2e73; // #fb7702; //  pink
$font-color: #6b6b6b;
$font-color-hero: #164167; // #fff; 
$font-family: 'Asap', sans-serif;
// ===========================
// Mixins
// ===========================

%flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


