@import "base";
@import "vars";
@import "grid";

.hero-wrapper {
	background-color: $theme-color;
	width: 100%;
  min-height: 850px;
  padding: 30px 0 0;
  color: #fff;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(../../assets/header-home.png);
}

// =========================
// Header
// =========================
.navigation-bar {
	@extend %flex-between;
}
.logo {
	font-size: 40px;
	color: #fff;
	font-weight: 700;
	transition: all 0.3s ease-in-out;
	&:hover {
		opacity: 0.5;
	}
}
.menu {
	@extend %flex-between;
}
.menu__item {
	padding: 23px 15px;
	font-size: 17px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	transition: all 0.3s ease-in-out;
	&:hover {
		opacity: 0.5;
	}
}

.hero {
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	padding: 0 130px;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
.hero__heading {
	font-size: 100px;
	font-weight: 700;
	line-height: 150%;
	color: #fff;
}
.hero__text {
	font-size: 24px;
	letter-spacing: 1px;
	font-weight: 400;
	line-height: 150%;
	color: #fff;
	strong {
		font-weight: 700;
		color: #fff;
	}
}

.first-block {
	background: #fff;
	p {
		font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    color: $accent-color;
	}
}
.custom {
	position: relative;
}
.amplitude-white {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.heading {
	font-size: 30px;
  color: #164167;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
}
.heading2 {
	font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  color: $accent-color;
  margin-bottom: 20px;
}
.first-block__content {
	@extend %flex-between;
}

.second-block {
	padding: 140px 0;
}
.second-block__content {
	padding-top: 140px;
	p {
		font-size: 17px;
    font-weight: 400;
    line-height: 155%;
    color: $font-color;
	}
}
.block {
	padding: 0 40px;
}

.text {
  font-size: 17px;
  font-weight: 400;
  line-height: 155%;
  margin: 10px 0;
}

.faqs {
	padding-bottom: 80px;
}
.question {
	font-size: 20px;
  line-height: 150%;
  letter-spacing: 1px;
  color: $accent-color;
  margin-top: 40px;
}
.answer {
  font-size: 17px;
  font-weight: 400;
  line-height: 155%;
  margin: 10px 0;
  b {
  	font-weight: 700;
  	margin-right: 10px;
  	font-size: 20px;
  }
}
.timeline {
	padding: 130px 0;
}
.timeline__content {
	padding-top: 80px;
}
.timeline__heading {
	font-size: 60px;
  color: #164167;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
}
.timeline__img {
	width: 300px;
}
.location__content {
	padding: 80px 0;
}
.reaching-instruction {
	h2 {
		color: $accent-color;
	}
}
.footer {
	background: #f9fafb;
	.amplitude-white {
		top: 0;
	}
	.footer__content {
		padding: 100px 0 50px 0;
		.navigation-bar {
			@extend %flex-between;
			justify-content: center;
		}
		.logo {
			color: $theme-color;
			font-size: 24px;
		}
		.menu {
			margin-left: 60px;
		}
		.menu__item {
			color: $theme-color;
			font-size: 16px;
		}
	}
}
.social-share {
	@extend %flex-between;
	justify-content: center;
	margin-top: 30px;
	a {
		padding: 0 20px;
		transition: all 0.3s ease-in-out;
		&:hover {
			opacity: 0.8;
		}
	}
}