@import "base";
@import "vars";
@import "grid";

.hero-wrapper {
	background-color: $theme-color;
	width: 100%;
  min-height: 400px;
  padding: 30px 0 0;
  color: #fff;
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom;
  // background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
}
.hero-home-wrapper {
	background-color: white;
	color: $font-color-hero;
}

// =========================
// Header
// =========================
.navigation-bar {
	@extend %flex-between;
}
.logo {
	font-size: 36px;
	color: #fff;
	font-weight: 700;
	transition: all 0.3s ease-in-out;
	&:hover {
		opacity: 0.5;
	}
}
.home-logo {
	color: $font-color-hero;
}
.menu {
	@extend %flex-between;
}
.menu__item {
	margin: 0px 15px;
	padding-bottom: 6px;
	font-size: 17px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	transition: all 0.3s ease-in-out;
	&:hover {
		opacity: 0.5;
	}
}
.home-menu__item {
	color: $font-color-hero;
}
.active {
	border-bottom: 3px solid $accent-color;
	&:hover {
		opacity: 1;
	}
}

// =========================
// Hero Section
// =========================

.hero {
	width: 100%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.hero-main-text {
	padding: 70px 130px 0px 130px;
}
.hero__heading {
	font-size: 60px;
	font-weight: 700;
	line-height: 150%;
	color: #fff;
}
.hero-home__heading {
	font-size: 52px;
	line-height: 52px;
	color: $font-color-hero;
}
.hero__text {
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 400;
	line-height: 150%;
	color: $font-color-hero;
	strong {
		font-weight: 700;
		color: $font-color-hero;
	}
}
.hero-home__text {
	margin-top: 35px;
	font-size: 24px;
}
.event {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
	p {
		font-size: 24px;
		color: $accent-color;
		margin-left: 20px;
		
	}
}
.event__info {
	@extend %flex-between;
	margin: 0 30px;
}

// =========================
// First block
// =========================
.first-block {
	background: #fff;
}
.bg {
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  background-image: url('../../Assets/header.png');
}
.green-bg {
	background: $theme-color;
}
.custom {
	position: relative;
}
.amplitude-white {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.amplitude-green {
	position: absolute;
	top: 0;
	width: 100%;
}
.heading {
	font-size: 30px;
  color: #164167;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
}
.heading2 {
	font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  color: $accent-color;
  margin-bottom: 20px;
}
.first-block__content {
	@extend %flex-between;
	padding: 50px 0;
}
.primary {
	padding: 100px;
}
.second-block {
	padding-bottom: 60px;
}
.second-block__content {
	p {
		font-size: 17px;
    font-weight: 400;
    line-height: 155%;
    color: $font-color;
	}
}
.block {
	padding: 0 40px;
}

.text {
  font-size: 17px;
  font-weight: 400;
  line-height: 155%;
  margin: 10px 0;
}

#skill {
	color: $accent-color;
}

// =========================
// Faqs
// =========================

.faqs {
	padding-bottom: 80px;
}
.question {
	font-size: 20px;
  line-height: 150%;
  letter-spacing: 1px;
  color: $accent-color;
  margin-top: 40px;
}
.answer {
  font-size: 17px;
  font-weight: 400;
  line-height: 155%;
  margin: 10px 0;
  b {
  	font-weight: 700;
  	margin-right: 10px;
  	font-size: 20px;
  }
}

// =========================
// What to expect
// =========================
.hero__nav-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	li {
		margin: 0 20px;
		a {
			color: $font-color-hero;
			font-size: 20px;
			font-weight: 700;
			transition: all 200ms ease-in-out;
			&:hover {
				opacity: 0.5;
			}
		}
	}
}
.timeline {
	padding: 80px 0;
	background: $font-color-hero;
}
.timeline__heading {
	font-size: 60px;
  color: $accent-color;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
}
.timeline__img {
	width: 400px;
}

// =========================
// Location
// =========================
.location__content {
	padding: 80px 0;
}
.contact {
	padding: 30px 0;
	border: 1px solid rgba(0,0,0,.12);
	background-color: $font-color-hero;
	box-shadow: 0 0 60px 4px rgba($font-color-hero, 0.8);
	margin-bottom: 80px;
	.text {
		color: #fff;
	}
}
.contact__map {
	padding: 0 20px;
}

// =========================
// Activity
// =========================

.activity {
	padding: 40px 0 80px 0;
}
.padding {
	padding: 30px;
}
.activity__list {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.activity__item {
	width: 350px;
	height: 280px;
	position: relative;
}
.activity__img {
	height: 100%;
	width: 100%;
	border-radius: 8px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.activity__name {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	border-radius: 8px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	transition: all 0.3s ease-in-out;
	.heading2 {
		font-size: 24px;
		letter-spacing: 0.07em;
		color: #fff;
	}
}
// =========================
// Apply
// =========================

.apply {
	padding: 80px 0;
}

// =========================
// Footer
// =========================

.footer {
	position: relative;
	.footer__content {
		position: absolute;
		width: 100%;
		bottom: 30px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		     -o-transform: translateX(-50%);
		        transform: translateX(-50%);
		.navigation-bar {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.logo {
			color: #fff;
			font-size: 24px;
		}
		.menu {
			margin-left: 60px;
		}
		.menu__item {
			color: #fff;
			font-size: 16px;
			padding-bottom: 0;
		}
	}
}
.social-share {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	a {
		padding: 0 20px;
		transition: all 0.3s ease-in-out;
		&:hover {
			opacity: 0.8;
		}
	}
}

// =========================
// Responsive
// =========================
@import "responsive";
